<h1>Projects</h1>
{% if user.is_authenticated %}
    <a href="{% url 'project_create' %}">Create New Project</a>
{% endif %}
<ul>
    {% for project in projects %}
        <li>
            {{ project.title }} by {{ project.user.username }}
            {% if project.user == request.user %}
                <a href="{% url 'project_edit' project.id %}">Edit</a>
                <a href="{% url 'project_delete' project.id %}">Delete</a>
            {% endif %}
        </li>
    {% empty %}
        <li>No projects yet.</li>
    {% endfor %}
</ul>
